# \# Marks Comments

Your code is stored in plain text files, which usually end on `.py`.

In [1]:
# I am a comment

In [2]:
print('Hello World!')  # prints a string to stdout

Hello World!

# End-of-Line Terminates a Statement

In [3]:
print('Hello World!')
print('Next Statement')

Hello World!
Next Statement

# Alternatively Semicolon Terminates a Statement

Howerver, do not do this! It is considered a **bad** practice.

In [4]:
print('Hello World!'); print('Next Statement')

Hello World!
Next Statement

# Expressions with Basic Operators

Math operators from highest to lowest precedence:
 
|Operator|Operation|Example|Evaluates to...
|--|--|--|---------------------------|
| `**` | Exponent | `2 ** 3` | 8 |
| `%` | Modulus | `22 % 8` | 6 |
| `//` | Integer division | `22 // 8` | 2 |
| `/` | Division | `22 / 8` | 2.75 |
| `*` | Multiplication | `3 * 5` | 15 |
| `-` | Subtraction | `5 - 2` | 3 |
| `+` | Addition | `2 + 3` | 5 |

In [5]:
2 + 3 * 6

20

In [6]:
(2 + 3) * 6

30

In [7]:
48565878.5 * 578453

28093078115960.5

In [8]:
2 ** 8

256

In [9]:
23 / 7

3.2857142857142856

In [10]:
23 // 7

3

In [11]:
23 % 7

2

In [12]:
result = 2 + 2
type(result)

int

In [13]:
result = (5 - 1) * ((7 + 1) / (3 - 1))
type(result)

float

# Integer, Floating-point, and String Data Types

Common data types

|Data Type|Examples|
|--|--|
| Integers | -2, -1, 0, 1, 2, 3, 4, 5 |
| Floating-point numbers | -1.25, -1.0, --0.5, 0.0, 0.5, 1.0, 1.25 |
| Strings | 'a', 'aa', 'aaa', 'Hello!', '11 things' |

In [14]:
type(1)

int

In [15]:
type(1.0)

float

In [16]:
type('Hello!')

str

## Strings

A string is simply a series of characters. Anything inside quotes is considered a string in Python, and you can use single or double quotes around your strings.

In [17]:
'Hello world!'

'Hello world!'

In [18]:
"Hello world!"

'Hello world!'

In [19]:
"Hello world!" == 'Hello world!'

True

In [20]:
'Hello world!

SyntaxError: EOL while scanning string literal (<ipython-input-20-b0711bd32433>, line 1)

Mixing string delimiters

In [ ]:
'"And God created great whales." —Genesis. —Moby Dick.'

In [1]:
"'And God created great whales.' —Genesis. —Moby Dick."

"'And God created great whales.' —Genesis. —Moby Dick."

### String Concatenation and Replication

In [2]:
'Hello' + 'World'

'HelloWorld'

In [3]:
'Hello' + 42

TypeError: can only concatenate str (not "int") to str

In [4]:
'Hello' + str(42)

'Hello42'

In [5]:
'Hello' * 4

'HelloHelloHelloHello'

In [6]:
'Hello' * 'World'

TypeError: can't multiply sequence by non-int of type 'str'

### Other Operations on Strings

In [7]:
name = 'ada lovelace'
print(name.title())

Ada Lovelace

In [8]:
len(name)

12

In [ ]:
name = 'Ada Lovelace'
print(name.upper())
print(name.lower())

In [ ]:
print('1. Ada Lovelace')
print('2. \tAda Lovelace')
print('3. \tAda\nLovelace')
print('4. \tAda\n\tLovelace')

In [ ]:
name = '  Ada Lovelace  '
name.lstrip()

In [ ]:
name = '  Ada Lovelace  '
name.rstrip()

In [ ]:
name = '  Ada Lovelace  '
name.strip()

## The `None` Value

In Python there is a value called `None`, which represents the absence of a value. None is the only value of the `NoneType` data type. (Other programming languages might call this value `null`, `nil`, or `undefined`.) Just like the Boolean `True` and `False` values, `None` must be typed with a capital N.
This value-without-a-value can be helpful when you need to store something that won’t be confused for a real value in a variable. One place where `None` is used is as the return value of `print()`. The `print()` function displays text on the screen, but it does not need to return anything in the same way `len()` or `input()` does. But since all function calls need to evaluate to a return value, `print()` returns `None`.

In [9]:
None == 5

False

# Assignment Statements & Variables

A variable is initialized the first time a value is stored in it. When a variable is assigned a new value, the old value is *overwritten*.

In [10]:
message = 'Hello'
message = 'World!'
print(message)

World!

In [11]:
message = 'Hello'
message = message + ' World!'
print(message)

Hello World!

In [ ]:
message = 'Hello'
message += ' World!'
print(message)

## Naming and Using Variables

When you’re using variables in Python, you need to adhere to a few rules and guidelines. Breaking some of these rules will cause errors; other guidelines just help you write code that’s easier to read and understand. Be sure to keep the following variable rules in mind:

Variable names can:

  * contain only letters, numbers, and underscores
  * start with a letter or an underscore
  * not start with a number
  * not contain spaces

In [21]:
message_1 = 'Hello'
print(message_1)

Hello

In [16]:
1_message = 'Hello'
print(_message)

SyntaxError: invalid token (<ipython-input-16-c7aa94dc0460>, line 1)

In [17]:
greeting_message = 'Hej!'

In [18]:
greeting message = 'Hej!'

SyntaxError: invalid syntax (<ipython-input-18-8d3bf526a57a>, line 1)

Guidelines:

  * Avoid using Python keywords and function names as variable names!
  * Variable names should be short but descriptive.
  
For example, `name` is better than `n`, `student_name` is better than `s_n`, and `name_length` is better than `length_of_persons_name`.

Python keywords are the following:
<span style="color:red">
False, None, True, and, as, assert, break, class, continue, def, del, elif, else, except, finally, for, from, global, if, import, in, is, lambda, nonlocal, not, or, pass, raise, return, try, while, with, yield
</span>
    

Python has 33, Go has 25, Java has 50 keywords and MySql has 183.

In [21]:
import keyword

keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [24]:
message = 'Hello'
print(mesage)

NameError: name 'mesage' is not defined

## Augmented Assignment Operators

When assigning a value to a variable, you will frequently use the variable itself.

```python
>>> value = 42
>>> value = value + 1
>>> value
43
```

Instead, as a shortcut, you can use the augmented assignment operator `+=` to do the same.

In [27]:
value = 42
value += 1
value

43

There are augmented assignment operators for the `+`, `-`, `*`, `/`, and `%` operators.

|Augmented Assignment Statement|Equivalent Assignment Statement|
|--|--|
| `value += 1` | `value = value + 1` |
| `value -= 1` | `value = value - 1` |
| `value *= 1` | `value = value * 1` |
| `value /= 1` | `value = value / 1` |
| `value %= 1` | `value = value % 1` |

Note, the `+=` operator can also do string and list concatenation, and the `*=` operator can do string and list replication.

In [27]:
# Convert from int to string, from string to int and from int to float
string = str(43)
integer = int('43')
print(type(string),type(integer))
print(float(3))
print(int(3.5)) # removes tailing digits

<class 'str'> <class 'int'>
3.0
3

In [29]:
name = input("write a number") 
name

write a number77

'77'

# Class exercise

![](images/pushups.gif)

1. Open a new Jupyter notebook and call it "01 class exercise"  
2. Create the first cell as a Markdown cell and give it a Headline (single #) called Class exercise 1:  
3. Add this image to the cell: https://miro.medium.com/max/1266/1*Pb8oEA1nGIONsSJk7QSVzg.png using this syntax `![](image url)`  

4. The next cell should be a code cell that can take 2 floats from a user input and multiply them printing out the result.